* {
  box-sizing: border-box;

}

.calcApp {
  background-color: rgb(78, 75, 75);
  width: 40vw;
  height: 50vh;
  margin: auto;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  
  
}

.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 10px;
}
.border-gradient-purple {
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.tags {
  margin: 10px;

  width: 190px;
}

h4 {
  margin-bottom: 30px;
  color: white;

}

.submit-button {
  text-align: center;
  align-self: center;
  justify-content: center;
}

